<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

<div class="wrapper">
  {%- if site.copyright -%}
  &copy; {{ site.copyright }}
  –
  <!-- Photo by <a href="https://unsplash.com/@oria_hector?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Héctor Martínez</a> on <a href="https://unsplash.com/photos/three-assorted-color-houses-next-to-each-other-rUUpyVdSnek?utm_content=creditCopyText&utm_medium=referral&utm_source=unsplash">Unsplash</a>-->
  <!-- &nbsp;-&nbsp; Banner: CC-BY-SA Tnarik Innael -->
  {%- endif -%}
  –
  <a href="{{ site.baseurl | escape }}/codeofconduct/">Code of Conduct</a>
  <a href="#" class="backtotop"><i class="fa fa-arrow-up"></i>Back to top</a>
</div>
</footer>
