---
layout: default
---

<div class="home">

    <h2>23rd International Conference on</h2>
    <h1 class="page-title">{{ page.list_title | default: "Software Engineering and Formal Methods" }}</h1>
    <h3>{{site.date | escape}}</h3>
    <h3>Organised by University of Castilla-La Mancha and University Complutensis of Madrid, Spain</h3>
      <div class="page-content">
        {{ content }}
      </div>

    <p class="editNote">Edit the content of this page <a href="https://github.com/sefm-conference/{{site.baseurl | escape}}/blob/main/{{page.path | escape}}">here</a>.</p>

</div>
