---
layout: page_plain
---
<!-- Twitter embed -->
<div id="secondary" class="widget-area sidey" role="complementary">
  <ul class="xoxo">
      <li id="custom_html-3" class="widget_text widget-container widget_custom_html"><div class="textwidget custom-html-widget"><a class="twitter-timeline" data-width="300" data-height="600" data-theme="light" href="https://twitter.com/sefm_conf?ref_src=twsrc%5Etfw">Tweets by SEFM</a> <script async src="https://platform.twitter.com/widgets.js" charset="utf-8"></script> </div></li>	</ul>
</div>

{{ content }}
